/* 统一制定表单里面的元素的样式*/
label {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	clear: both;
}

input[type="text"], 
input[type="password"], 
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
	display: block;
	border: 1px solid #d5d6d8;
	border-radius: 2px;
    padding: 6px 12px;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    box-shadow: 0 0 1px 4px #f8f9fb;
    outline: 0;
    resize: none;
}

input[type="file"] {
	border: 0;
	padding: 6px 12px 6px 0;
	font-size: 13px;
	color: #555;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus,
input[type="number"]:focus
input[type="date"]:focus,
textarea:focus,
select:focus {
	border: 1px #b5d5ee solid;
	box-shadow: 0 0 1px 3px #ecf6ff;
}

input[type="submit"], 
input[type="reset"],
.tobutton {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 6px 12px;
	font-family: 'Microsoft Yahei';
	letter-spacing: 2px;
	color: #666;
	background-color: #fafafa;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	cursor: pointer;
	outline: 0;
}

input[type="submit"]:focus, 
input[type="reset"]:focus {
	background-color: #f4f4f4;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

input.disabled,
select.disabled {
	background-color: #ededed;
	cursor: not-allowed;
	user-select: none;
}

select {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 1px 4px #f8f9fb;
    outline: 0;
    resize: none;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

/* 分页的默认样式 */
.pages {
	margin-top: 40px;
	text-align: right;
}

.pages-op {
	margin-left: 7px;
	font-size: 12px;
}

.pages-op:hover {
	background-color: #f4f4f4;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.pages-op.disabled {
	background-color: #ccc;
}

.pages-op.disabled:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	cursor: not-allowed;
}

.pages-loc {
	margin-right: 5px;
	font-size: 12px;
}
