* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Microsoft Yahei';
	background-color: #f9f9f9;
}

.header-top {
	padding-right: 15px;
	height: 50px;
	line-height: 50px;
	background-color: #3c8dbc;
}

.header-top-logo {
	display: inline-block;
	width: 221px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background-color: #367fa9;
}

.header-top-logo:hover {
	background-color: #357ca5;
}

.header {
	float: left;
	overflow: hidden;
	width: 220px;
	min-height: 550px;
	background-color: #f4f4f4;
	box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

.header-person {
	overflow: hidden;
	padding: 10px;
}

.header-person-img {
	float: left;
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

.header-person-info {
	float: left;
	padding: 5px 5px 5px 15px;
	font-size: 13px;
}

.header-person-info-name {
	margin-bottom: 8px;
	color: #555;
}

.header-person-info-role {
	position: relative;
	text-indent: 14px;
	font-size: 12px;
	color: #777;
}

.header-person-info-role:before {
	position: absolute;
	top: 4px;
	left: 0;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #2b542c;
	content: '';
}

.header-menu-cate {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dbdbdb;
	width: 100%;
	background-color: #f4f4f4;
}

.header-menu-cate:nth-of-type(1) {
	border-top-color: #dbdbdb;
}

.header-menu a {
	display: block;
	font-size: 13px;
	color: #555;
}

.header-menu-cate>a {
	position: relative;
	box-sizing: border-box;
	padding-left: 15px;
	height: 47px;
	line-height: 47px;
}

.header-menu-cate li a {
	display: block;
	padding-left: 30px;
	height: 30px;
	color: #777;
}

.header-menu-cate li a:hover{
	color: #111;
}

.header-menu-cate li.active a {
	color: #111;
}

.header-menu-cate:hover>a, .header-menu-cate.click>a{
	color: #111;
	background-color: #f9f9f9;
}

.header-menu-cate ul {
	display: none;
}

.header-menu-cate ul a {
	background-color: #f9f9f9;
}

.header-menu-icon {
	display: inline-block;
	margin-right: 3px;
    width: 10px;
    height: 10px;
    background: #000;
}

.header-menu-toggle {
    position: absolute;
    top: 34px;
    right: 17px;
    width: 9px;
    height: 14px;
    font-family: serif;
    font-style: normal;
    color: #333;
    transform: rotate(-180deg);
}

.header-menu-cate.click .header-menu-toggle {
	top: 16px;
	right: 0;
	transform: rotate(90deg);
}

.content {
	margin-top: -21px;
	margin-left: 220px;
}

.content-header {
	padding: 15px 15px 10px 20px;
	background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.content-title {
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	color: #333;
}

.content-subtitle {
    display: inline-block;
    padding-left: 10px;
	font-size: 12px;
    font-weight: 300;
}

.content-breadcrumb {
	display: inline-block;
	float: right;
	margin-top: 9px;
	font-size: 12px;
	color: #999;
}

.content-breadcrumb-icon {
	display: inline-block;
	margin-right: 4px;
	width: 10px;
	height: 10px;
	background-color: #000;
}

.content-breadcrumb-span {
	margin: 0 6px;
}

.logout {
    float: right;
    padding: 0 20px;
    font-size: 12px;
    color: #d4e6f0;
}

.logout:hover {
	color: #f6f6f6;
	background-color: #367faa;
}

/* 统一制定表单里面的元素的样式*/
input[type="text"], input[type="password"] {
	display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    outline: 0;
}

input[type="text"]:focus, input[type="password"]:focus {
	border: 1px #3c8dbc solid;
	box-shadow: none;
}

input[type="submit"], .tobutton {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 6px 12px;
	font-family: 'Microsoft Yahei';
	letter-spacing: 2px;
	color: #666;
	background-color: #fafafa;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	cursor: pointer;
	outline: 0;
}

input[type="submit"]:focus {
	background-color: #f4f4f4;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* 使用div模拟table 所有列表展示都使用该样式 */
.mytable {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.mytable-th, .mytable-tr {
	display: flex;
	background-color: #fff;
}

.mytable-tr:nth-of-type(2n) {
	background-color: #f3f4f5;
}

.mytable-tr:hover {
	background-color: #d1eeee;
}

.mytable-th-td, .mytable-tr-td {
	display: flex;
	flex: 1;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	height: 38px;
	font-size: 13px;
	text-indent: 14px;
	align-items: center;
	color: #333;
}

.mytable-th-td {
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #ddd;
}

/* 包裹层wrap */
.wrap {
	margin: 20px;
	border-top: 2px solid #00c0ef;
	border-radius: 3px;
	padding: 15px 25px 30px;
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.wrap-title {
	margin-bottom: 25px;
	font-family: cursive;
	font-size: 18px;
	font-weight: 400;
	color: #444;
}

.wrap-title-icon {
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	background-color: #000;
}

/* 分页的默认样式 */
.pages {
	margin-top: 40px;
	text-align: right;
}

.pages-op {
	margin-left: 7px;
	font-size: 12px;
}

.pages-op:hover {
	background-color: #f4f4f4;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.pages-op.disabled {
	background-color: #ccc;
}

.pages-op.disabled:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	cursor: not-allowed;
}

.pages-loc {
	margin-right: 5px;
	font-size: 12px;
}
