* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Microsoft Yahei';
	background-color: #f9f9f9;
}

.header-top {
	padding-right: 15px;
	height: 50px;
	line-height: 50px;
	background-color: #3c8dbc;
}

.header-top-logo {
	display: inline-block;
	width: 221px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background-color: #367fa9;
}

.header-top-logo:hover {
	background-color: #357ca5;
}

.header {
	float: left;
	overflow: hidden;
	width: 220px;
	min-height: 550px;
	background-color: #f4f4f4;
	box-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

.header-person {
	overflow: hidden;
	padding: 10px;
}

.header-person-img {
	float: left;
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

.header-person-info {
	float: left;
	padding: 5px 5px 5px 15px;
	font-size: 13px;
}

.header-person-info-name {
	margin-bottom: 8px;
	color: #555;
}

.header-person-info-role {
	position: relative;
	text-indent: 14px;
	font-size: 12px;
	color: #777;
}

.header-person-info-role:before {
	position: absolute;
	top: 4px;
	left: 0;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #2b542c;
	content: '';
}

.header-menu-cate {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dbdbdb;
	width: 100%;
	background-color: #f4f4f4;
}

.header-menu-cate:nth-of-type(1) {
	border-top-color: #dbdbdb;
}

.header-menu a {
	display: block;
	font-size: 13px;
	color: #555;
}

.header-menu-cate>a {
	position: relative;
	box-sizing: border-box;
	padding-left: 15px;
	height: 47px;
	line-height: 47px;
}

.header-menu-cate li a {
	display: block;
	padding-left: 30px;
	height: 30px;
	color: #777;
}

.header-menu-cate li a:hover{
	color: #111;
}

.header-menu-cate li.active a {
	color: #111;
}

.header-menu-cate:hover>a, 
.header-menu-cate.click>a{
	color: #111;
	background-color: #f9f9f9;
}

.header-menu-cate ul {
	display: none;
}

.header-menu-cate ul a {
	background-color: #f9f9f9;
}

.header-menu-icon {
	display: inline-block;
	position: relative;
	top: 1px;
	margin-right: 3px;
    width: 14px;
    height: 14px;
    background-size: cover;
}

.header-menu-icon-home {
	background-image: url("../imgs/icon-home.png");
}

.header-menu-icon-person {
	background-image: url("../imgs/icon-person.png");
}

.header-menu-icon-option {
	background-image: url("../imgs/icon-option.png");
}

.header-menu-icon-lock {
	background-image: url("../imgs/icon-lock.png");
}

.header-menu-icon-text {
	background-image: url("../imgs/icon-text.png");
}

.header-menu-icon-circle {
	background-image: url("../imgs/icon-circle.png");
}

.header-menu-icon-current {
	background-image: url("../imgs/icon-current.png");
}

.header-menu-icon-history {
	background-image: url("../imgs/icon-history.png");
}

.header-menu-icon-order {
	background-image: url("../imgs/icon-order.png");
}

.header-menu-icon-overdue {
	background-image: url("../imgs/icon-overdue.png");
}

.header-menu-icon-money {
	background-image: url("../imgs/icon-money.png");
}

.header-menu-icon-comm {
	background-image: url("../imgs/icon-comm.png");
}

.header-menu-icon-mycomm {
	background-image: url("../imgs/icon-my-comm.png");
}

.header-menu-icon-allcomm {
	background-image: url("../imgs/icon-all-comm.png");
}

.header-menu-icon-add {
	background-image: url("../imgs/icon-add.png");
}

.header-menu-icon-set {
	background-image: url("../imgs/icon-set.png");
}

.header-menu-icon-people {
	background-image: url("../imgs/icon-people.png");
}

.header-menu-icon-edit {
	background-image: url("../imgs/icon-edit.png");
}

.header-menu-icon-desc {
	background-image: url("../imgs/icon-desc.png");
}

.header-menu-icon-download {
	background-image: url("../imgs/icon-download.png");
}

.header-menu-icon-email {
	background-image: url("../imgs/icon-email.png");
}

.header-menu-icon-link {
	background-image: url("../imgs/icon-link.png");
}

.header-menu-icon-book {
	background-image: url("../imgs/icon-book.png");
}

.header-menu-icon-eachbook {
	background-image: url("../imgs/icon-eachbook.png");
}

.header-menu-icon-cate {
	background-image: url("../imgs/icon-cate.png");
}

.header-menu-toggle {
    position: absolute;
    top: 34px;
    right: 17px;
    width: 9px;
    height: 14px;
    font-family: serif;
    font-style: normal;
    color: #333;
    transform: rotate(-180deg);
}

.header-menu-cate.click .header-menu-toggle {
	top: 16px;
	right: 0;
	transform: rotate(90deg);
}

.content {
	overflow: hidden;
	margin-top: -21px;
	margin-left: 220px;
}

.content-header {
	padding: 15px 15px 10px 20px;
	background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.content-title {
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	color: #333;
}

.content-subtitle {
    display: inline-block;
    padding-left: 10px;
	font-size: 12px;
    font-weight: 300;
}

.content-breadcrumb {
	display: inline-block;
	float: right;
	margin-top: 9px;
	font-size: 12px;
	color: #999;
}

.content-breadcrumb-icon {
	display: inline-block;
	margin-right: 4px;
	width: 10px;
	height: 10px;
	background-size: cover;
}

.content-breadcrumb-span {
	margin: 0 6px;
}

.logout {
    float: right;
    padding: 0 20px;
    font-size: 12px;
    color: #d4e6f0;
}

.logout:hover {
	color: #f6f6f6;
	background-color: #367faa;
}

/* 修改项 */
.icon-op {
	display: inline-block;
	margin-left: 15px;
	width: 20px;
	height: 20px;
	font-size: 0 !important;
	background-size: cover;
}

.icon-op.delete {
	background-image: url("../imgs/icon-delete.png");
}

.icon-op.edit {
	background-image: url("../imgs/icon-revise.png");
}

.icon-op.bookdetail {
	background-image: url("../imgs/icon-bookdetail.png");
}

.icon-op.lend {
	background-image: url("../imgs/icon-lend.png");
}

.icon-op.back {
	background-image: url("../imgs/icon-back.png");
}

.icon-op.buy {
	background-image: url("../imgs/icon-shopcar.png");
}

/* 必填 */
.require {
	color: #f00;
}

/* 使用div模拟table 所有列表展示都使用该样式 */
.mytable {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.mytable-th, 
.mytable-tr {
	display: flex;
	background-color: #fff;
}

.mytable-tr:nth-of-type(2n) {
	background-color: #f3f4f5;
}

.mytable-tr:hover {
	background-color: #d1eeee;
}

.mytable-th-td, 
.mytable-tr-td {
	display: flex;
	flex: 2;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 0 1px;
	min-height: 35px;
	font-size: 13px;
	text-indent: 14px;
	align-items: center;
	color: #333;
	word-break: break-all;
}

.mytable-th-td {
	position: relative;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

.mytable a {
	font-size: 13px;
	color: #333;
}

.mytable a:hover {
	text-decoration: underline;
}

.mytable-tr-td-img {
	display: inline-block;
	margin: 2px 0 2px 14px;
	width: 60px;
	max-height: 60px;
}

.mytable-th-td-icon {
	position: absolute;
	top: 50%;
	right: 14px;
	margin-top: -7px;
	width: 14px;
	height: 14px;
	background-image: url("../imgs/sort.png");
}

.mytable-th-td-large {
	flex: 3;
}

.mytable-th-td-small {
	flex: 1;
}

/* 点击查看详情 */
.click-detail {
	color: #555;
}

.click-detail:hover {
	text-decoration: underline;
}


/* 包裹层wrap */
.wrap {
	margin: 20px;
	border-top: 2px solid #00c0ef;
	border-radius: 3px;
	padding: 15px 25px 30px;
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.wrap-title {
	margin-bottom: 25px;
	font-family: cursive;
	font-size: 18px;
	font-weight: 400;
	color: #444;
}

.wrap-title-icon {
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	background-size: cover;
}

/* 弹出层 */
.pop-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 220px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 99999;
}

.pop-content {
	position: relative;
	margin-top: 150px;
	margin-left: 250px;
    border-radius: 5px;
    padding: 20px;
    width: 450px;
    height: 300px;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
    text-indent: 2em;
    background-color: #f1f1f1;
    box-shadow: 0 0 20px #333;
}

.pop-close {
	position: absolute;
    top: -15px;
    right: -15px;
    width: 48px;
    height: 48px;
    background-image: url(../imgs/close.png);
    cursor: pointer;
}

.pop-content-item {
	margin-top: 20px;
	font-size: 14px;
	font-weight: 700;
}

.pop-content-item span {
	font-size: 13px;
	font-weight: 400;
}
