.frm-passwd {
	display: inline-block;
}

.frm-passwd-title {
	margin-bottom: 30px;
}

.frm-passwd-input {
	margin-bottom: 30px;
	width: 400px;
	height: 30px;
}

input.frm-passwd-submit {
	float: right;
	border-radius: 2px;
	padding: 8px 20px;
}
